<nav class="bg-black lg:pl-20 lg:pr-20">
    <div class="flex flex-wrap items-center justify-between px-4 py-3">
        <div class="flex items-center justify-center gap-3">
            <a class="flex gap-2" href="*">
                <img src="../../../../assets/images/Full moon photo by Alexander Andrews.jpg" class="h-8" alt="Thaj Login" />
                <span class="text-2xl font-semibold text-white">Thaj UI</span>
            </a>

            <ul class="items-center hidden gap-6 ml-10 text-white lg-16 lg:flex">
                <li>Components</li>
                <li>Templates</li>
                <li>Pricing</li>
            </ul>
        </div>

        <div>
            <button
                data-collapse-toggle="navbar-solid-bg"
                type="button"
                class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                aria-controls="navbar-solid-bg"
                aria-expanded="false"
            >
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <ul class="items-center hidden gap-6 text-white lg:flex">
                <li>Discord</li>
                <li>Twitter</li>
                <fa-icon [icon]="faCoffee"></fa-icon>
                <div>
                    <input type="text" placeholder="Search Components" class="hidden w-full max-w-3xl p-2 text-sm text-gray-900 placeholder-gray-500 border border-gray-300 rounded-lg outline-none lg:block" />
                </div>
            </ul>
        </div>
    </div>
</nav>
